In [1]:
from __future__ import print_function
import pandas as pd
import plotly

from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets

In [2]:
us_counties = pd.read_csv('us-counties.csv')
us_states = pd.read_csv('us-states.csv')

In [24]:
print(us_counties['state'].nunique())
us_counties.head()

55

         date     county       state     fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061.0      1       0
1  2020-01-22  Snohomish  Washington  53061.0      1       0
2  2020-01-23  Snohomish  Washington  53061.0      1       0
3  2020-01-24       Cook    Illinois  17031.0      1       0
4  2020-01-24  Snohomish  Washington  53061.0      1       0

In [25]:
print(us_states['state'].nunique())
us_states.head()

55

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

# get the latest date from each csv files

In [14]:
date1 = us_counties['date'].max()
date2 = us_counties['date'].max()
print(date1, date2)

2020-04-01 2020-04-01

# Check all country cases and deaths from each datasource

In [18]:
# states dataset

us_states.loc[ (us_states['date']==date1)]['cases'].sum(),\
us_states.loc[  (us_states['date']==date1)]['deaths'].sum()

(214461, 4841)

In [19]:
# counties dataset

us_counties.loc[ (us_counties['date']==date1)]['cases'].sum(),\
us_counties.loc[ (us_counties['date']==date1)]['deaths'].sum()

(214682, 4551)

In this case, the per-state dataset reports a lower number of cases and a higher number of deaths, compared to counties dataset

# check number of cases and deaths for one state

In [31]:
state = 'Tennessee'

us_states.loc[ (us_states['state']==state) & (us_states['date']==date1)]['cases'].sum(),\
us_states.loc[ (us_states['state']==state) & (us_states['date']==date1)]['deaths'].sum()

(2440, 23)

In [48]:
state = 'Tennessee'

us_counties.loc[ (us_counties['state']==state) & (us_counties['date']==date1) & (us_counties['county']!='Unknown') & (us_counties['county'].apply(lambda x: type(x)==str))]['cases'].sum(),\
us_counties.loc[ (us_counties['state']==state) & (us_counties['date']==date1) & (us_counties['county']!='Unknown')]['deaths'].sum()

(2248, 23)

In this case, the per-state dataset reports a lower number of cases and a lower number of deaths, compared to counties dataset

### could it be that a county was accidentally added to TN?

In [36]:
date = '2020-03-31'
us_counties.loc[ (us_counties['state']==state) & (us_counties['date']==date)]['county'].nunique()

79

In [38]:
date = '2020-04-01'
us_counties.loc[ (us_counties['state']==state) & (us_counties['date']==date)]['county'].nunique()

85

In [42]:
date = '2020-03-31'
counties_march_31 = list(us_counties.loc[ (us_counties['state']==state) & (us_counties['date']==date)]['county'].unique())

date = '2020-04-01'
counties_april_1 = list(us_counties.loc[ (us_counties['state']==state) & (us_counties['date']==date)]['county'].unique())


list_difference = []
for item in counties_april_1:
    if item not in counties_march_31:
        list_difference.append(item)
    
print(list_difference)

['Clay', 'Grainger', 'Hickman', 'Lauderdale', 'Rhea', 'Sequatchie']

In [50]:
state = 'Tennessee'
date = '2020-03-31'
us_counties.loc[ (us_counties['state']==state) & (us_counties['date']==date)].sort_values(by='cases')

             date      county      state     fips  cases  deaths
23562  2020-03-31       Obion  Tennessee  47131.0      1       0
23538  2020-03-31      Hardin  Tennessee  47071.0      1       0
23572  2020-03-31       Smith  Tennessee  47159.0      1       0
23541  2020-03-31       Henry  Tennessee  47079.0      1       0
23542  2020-03-31     Houston  Tennessee  47083.0      1       0
...           ...         ...        ...      ...    ...     ...
23579  2020-03-31     Unknown  Tennessee      NaN    109       9
23585  2020-03-31  Williamson  Tennessee  47187.0    111       0
23574  2020-03-31      Sumner  Tennessee  47165.0    164       0
23571  2020-03-31      Shelby  Tennessee  47157.0    396       1
23524  2020-03-31    Davidson  Tennessee  47037.0    541       3

[79 rows x 6 columns]

In [49]:
state = 'Tennessee'
date = '2020-04-01'
us_counties.loc[ (us_counties['state']==state) & (us_counties['date']==date)].sort_values(by='cases')

             date      county      state     fips  cases  deaths
25758  2020-04-01  Lauderdale  Tennessee  47097.0      1       0
25751  2020-04-01       Henry  Tennessee  47079.0      1       0
25752  2020-04-01     Hickman  Tennessee  47081.0      1       0
25753  2020-04-01     Houston  Tennessee  47083.0      1       0
25738  2020-04-01    Fentress  Tennessee  47049.0      1       0
...           ...         ...        ...      ...    ...     ...
25799  2020-04-01  Williamson  Tennessee  47187.0    148       2
25788  2020-04-01      Sumner  Tennessee  47165.0    201       7
25793  2020-04-01     Unknown  Tennessee      NaN    307      17
25785  2020-04-01      Shelby  Tennessee  47157.0    496       3
25733  2020-04-01    Davidson  Tennessee  47037.0    673       4

[85 rows x 6 columns]

In [22]:
state = 'New York'

us_states.loc[ (us_states['state']==state) & (us_states['date']==date1)]['cases'].sum(),\
us_states.loc[ (us_states['state']==state) & (us_states['date']==date1)]['deaths'].sum()

(83889, 1941)

In [23]:
state = 'New York'

us_counties.loc[ (us_counties['state']==state) & (us_counties['date']==date1)]['cases'].sum(),\
us_counties.loc[ (us_counties['state']==state) & (us_counties['date']==date1)]['deaths'].sum()

(83890, 1652)